.header {
    display: flex;
    background-color: #495E57;
    padding: 10px;
}

.header-left-block{
    flex-basis: 40%;
    color: white;
    margin-left: 150px;
}

.header-left-block h1 {
    margin-top: 40px;
    font-size: 36px;
}

.header-left-block p {
    font-size: 18px;
    margin-top: -15px;
}

.header-left-block .description {
    font-size: 18px;
    margin-top: 20px;
}

.header-left-block .reserve-button {
    background-color: #F4CE14;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.image {
    margin-left: 100px;
    width: 375px;
    height: 325px;
    object-fit: cover;
}